/* You can add global styles to this file, and also import other style files */
body, input{
    font-size: 40px;
    font-family: 'Calibri light'
}

h3{
    font-size: 60px;
    font-weight: bold;
    color:white;
}